

/* Navbar */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    /* background: linear-gradient(90deg, #A1887F, #7f6b64); */
    /* background: linear-gradient(90deg, #be8fa9, #F28B82); */
    background: linear-gradient(90deg, #59a2d3, #2980b9);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: #ffeaa7;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
