body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fefcf1de;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

/* All Packages */
.menu-section {
    text-align: center;
    margin: 10px 0;
}

.menu-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-section li {
    display: inline-block;
    margin: 0 10px;
}

.menu-section a {
    display: inline-block;
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu-section a:hover {
    background: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}